<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Link to your compiled CSS -->
    <!-- <link rel="stylesheet" href="/css/app.css"> -->
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.bunny.net">
    <link href="https://fonts.bunny.net/css?family=figtree:400,600&display=swap" rel="stylesheet" />
</head>
<body>
    <div id="app" data-page="{{.page}}"></div> 

    {{ if .isDev }}
    <!-- Scripts for Vite Dev Server (only in development) -->
    <script type="module" src="http://localhost:5173/@vite/client"></script>
    <script type="module">
      import RefreshRuntime from 'http://localhost:5173/@react-refresh';
      RefreshRuntime.injectIntoGlobalHook(window);
      window.$RefreshReg$ = () => {};
      window.$RefreshSig$ = () => (type) => type;
      window.__vite_plugin_react_preamble_installed__ = true;
    </script>
    {{ end }}
    {{ vite "resources/css/app.css" }}
    {{ vite "resources/js/app.tsx" }}  

</body>
</html>
